<section class="orders-show">

  <div class="d-flex flex-column align-items-center">
    <div class="d-flex flex-column align-items-center">
    <h4>Your cart is empty!</h4>
    <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-danger' %>
    </div>
  </div>

</section>
