<section class="cart-show">

  <header class="page-header">
    <h1>My Cart</h1>
  </header>

  <% if enhanced_cart.length == 0%>
   <%= render 'empty' %>
  <% else %>
   <%= render 'cart' %>
  <% end %>

 

</section>
