<div class="d-flex flex-column align-items-center mt-5">
<h1>About us:</h1>
<p>Meet Bob</p>
<p>I am an entrepreneur who have worked in almost every part of the horticultural profession from research greenhouses, museum conservatory, to retail greenhouse operations, floral design and running my own plant shop. I am a knowledgable plant fanatics and experienced landscape designers who are dedicated to providing excellent customer service!</p>
<br>
<p>Our Mission</p>
<p>Plants make people happy, and they are a powerful antidote to the stresses of modern life. We believe in creating artistically arranged spaces and pieces with compatible plants that are easy to maintain and are beautiful to look at. Our goal is to help our customers become successful plant parents and offer guidance whether they are novices or experts.</p>
<br>
<p>Our Vision</p>
<p>We strive to offer our customers top quality, locally sourced plants and provide expert guidance to reduce the amount of chemicals required to maintain them. We only order from western Canadian wholesalers to reduce our carbon footprint, and grow as much as we can from propagation in our greenhouse. We do not use harmful fertilizers or pesticides on our plants. Only organic fertilizers, environmentally friendly insecticide sprays, and beneficial predator insects to keep plants and the planet healthy! </p>
</div>
